body {
  background-color: #101010;
}

div#vesa {
  background-color: #000000;
  font-family: Terminal, monospace;
  font-size: 11px;
  margin: 0;
  border-radius: 7px;
  position: fixed;
  width: 570px;
  height: 290px;
  color: white;
  padding: 0;
  left: 0;
  top: 0;
}

div#info {
  position: fixed;
  top: 300px;
  left: 0px;
  background-color: white;
  width: 450px;
  height: 200px;
  font-family: monospace;
  border-radius: 100px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
